*.obj
*.tlog
*.pdb
*.pch
*.FileListAbsolute.txt
*.idb
*.VC.db
*.suo
*.exe
*.lib
*.tli
*.tlh
*.log
Debug/
Release/
obj/
.vs/
*.vcxproj.user
*.vcxproj.vspscc
*.csproj.user
*.csproj.vspscc
*adhoc.cpp.copied
*.js.map
*_i.c
*_p.c
*_i.h
*.aps
*/packages/*
dotnet-tools.json
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt

